<a class="right btn btn-primary btn-lg active" href="/admin">Back to Admin</a>
<div class="row">
    <form action="/admin" method="POST" enctype="multipart/form-data" class="col xl6 s12 offset-xl3">

        <h4 class="center-align">Create new job post</h4>
        <div class="messages">
            {{#if error}}
            <div class="error">
                {{error}}
            </div>
            {{/if}}
        </div>

        <div class="input-field">
            <label for="company_name">Company Name:</label>
            <input name="company_name" type="text" id="company_name" ​maxlength="4" class="validate" required>
            <span class="helper-text" data-error="Enter valid company name" data-success=""></span>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>Logo</span>
                <input type="file" name='image' class="validate" required>
            </div>

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload company logo (jpg, png, svg, bmp)"
                    class="validate" required>
                <span class="helper-text" data-error="Enter valid company name" data-success=""></span>
            </div>
        </div>

        <div class="input-field">
            <label for="job_name">Job Name</label>
            <input name="job_name" type="text" id="job_name" ​maxlength="4" class="validate" required>
            <span class="helper-text" data-error="Enter valid job name" data-success=""></span>
        </div>

        <div class="input-field">
            <select name="level" required class="validate">
                <option value="" disabled selected>Choose level:</option>
                <option value="Junior">Junior</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Senior">Senior</option>
            </select>
            <span class="helper-text" data-error="Enter valid job description" data-success=""></span>
        </div>
        <div class="input-field">
            <select name="role" required class="validate">
                <option value="" disabled selected>Choose role:</option>
                <option value="Frontend">Frontend</option>
                <option value="Backend">Backend</option>
                <option value="Fullstack">Fullstack</option>
            </select>
            <span class="helper-text" data-error="Enter valid job description" data-success=""></span>
        </div>
        <div class="input-field">
            <label for="job_description">Job Description</label>
            <textarea id="job_description" name="job_description" class="materialize-textarea validate"
                required></textarea>
            <span class="helper-text" data-error="Enter valid job description" data-success=""></span>
        </div>

        <label for="working_hours">Choose working hours:</label>
        <p>
            <label>
                <input class="with-gap" name="working_hours" type="radio" value="Full Time" />
                <span>Full Time</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="working_hours" type="radio" value="Part Time" />
                <span>Part Time</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="working_hours" type="radio" value="Contract" />
                <span>Contract</span>
            </label>
        </p>
        <div class="input-field">
            <select name="country" required class="validate">
                <option value="" disabled selected>Choose country:</option>
                <option value="Serbia">Serbia</option>
                <option value="Russia">Russia</option>
                <option value="Japan">Japan</option>
            </select>
            <span class="helper-text" data-error="Enter valid job description" data-success=""></span>
        </div>

        <p>Technologies:</p>
        <ul class="technologies-list">
            {{#each technologies}}
            <li>
                <label>
                    <input type="checkbox" name="technologies[]" value="{{this}}" />
                    <span class="checkbox">{{this}}</span>
                </label>
            </li>
            {{/each}}
        </ul>
        <div class="input-field">
            <button type="submit" class="btn-large waves-effect waves-light submit-btn">Submit</button>
        </div>
    </form>
</div>